*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.container{
    margin: 200px auto;
    max-width: 1000px;
    
}

.container h1{
    padding: 20px 0;
    font-size: 50px;
    font-weight: 200;
}